<!DOCTYPE html>
<html>
<head>
  <title>Contact Management</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>

  <header>
    <h1>HubSpot - Contact Management</h1>
  </header>


    <button class="cbutton">Connect to HubSpot</button>
    <button class="dbutton">Disconnect</button><br><br>

    <table class="cen">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td class="actions">
            <button class="abutton">Edit</button>
            <button class="abutton">Delete</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="actions">
            <button class="abutton">Edit</button>
            <button class="abutton">Delete</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="actions">
            <button class="abutton">Edit</button>
            <button class="abutton">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="bbutton" type="button">Create</button>
    
  <div class="border">
    <form>
      <br><h1>Contact Details</h1><br>
      <div class="contactForm">
        <label for="fname" class="col-25">Contact First Name</label>
        <div class="col-75">
          <input type="text" id="fname" value="">
        </div>
        <label for="lname" class="col-25">Contact Last Name</label>
        <div class="col-75">
          <input type="text" id="lname">
        </div>
        <label for="staticEmail" class="col-25">Contact Email</label>
        <div class="col-75">
          <input type="text" id="staticEmail">
        </div>
        <label for="num" class="col-25">Contact Phone</label>
        <div class="col-75">
          <input type="number" id="num">
        </div>
        <br><button class="sbutton">Save</button>
      </div>
    </form>
  </div>
</body>
</html>
